
body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
} 

.toggle-btn {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

  .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
  }
  .navbar-links.open {
      display: flex;
  }
  .toggle-btn {
      display: block;
  }

.hero {
  background-image: url('https://images.unsplash.com/photo-1583364481915-dacea3e06d18?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==');

  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;

  align-items: center;
  color: white;
  text-align: center;
} 

 .hero-content {
  max-width: 600px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}


.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-btn {
  background-color: #ff5733;
  color: white;
  padding: 0.75rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
}

.hero-btn:hover {
  background-color: #c13c24;
}
.picture-section {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #f4f4f4;
} 


.container-fluid{
  text-align: right;
  color:   rgb(172, 0, 0);
}
.nav-item{
  color: #ff5733;
  text-align: right;
}
.mb-3-my-5{
text-align: center;
}
.container{
  text-align: center;
  background-color: black;
  color: #c13c24;
}
.conatiner-my-3{
text-align: center;
background-color: black;
color: #ffffff;
margin-right: auto;
}
.conatiner-my-3 h2{
  text-align: center;
}
.nav-link{
  text-align: right;
  
}